MW_ADMIN_NAME=admin
MW_ADMIN_PASS=change-this-password

TEST_EXTERNAL=true
SKIP_WDQS=1

DOCKER_WIKIBASE_REPO_NAME=example_wikibase_1
DOCKER_MYSQL_NAME=example_mysql_1

DB_NAME=my_wiki
DB_USER=sqluser
DB_PASS=change-this-sqlpassword

WIKIBASE_BUNDLE_IMAGE_NAME=wikibase/wikibase:1.35.4-wmde.2
WDQS_IMAGE_NAME=wikibase/wdqs:0.3.40-wmde.2
WDQS_FRONTEND_IMAGE_NAME=wikibase/wdqs-frontend:wmde.2
ELASTICSEARCH_IMAGE_NAME=wikibase/elasticsearch:6.5.4-wmde.2
QUICKSTATEMENTS_IMAGE_NAME=wikibase/quickstatements:wmde.2
WDQS_PROXY_IMAGE_NAME=wikibase/wdqs-proxy:wmde.2
MYSQL_IMAGE_NAME=mariadb:10.3
DATABASE_IMAGE_NAME=mariadb:10.3