# ===== SETUP (LOCAL TESTING) =====

# Complete the following 2 steps and you are ready for local testing:

# 1) Set strong passwords for your MediaWiki Admin user and database:
# - Must be at least 10 characters
# - Must be different from your username
# - Must not appear within your username
# - Must not be in a list of very commonly used passwords
# See: https://www.mediawiki.org/wiki/Manual:$wgPasswordPolicy#Default
MW_ADMIN_PASS=change-this-password
DB_PASS=change-change-this-sqlpassword

# 2) Set to your own email address
MW_ADMIN_EMAIL=admin@example.com

# ===== ADVANCED/PRODUCTION CONFIGURATION =====
#
# Review and adjust the following configuration if setting-up a public-facing Wikibase Suite instance.
# See also `.env.defaults`, variables there can be set below to overide the default values.

# == Wikibase Suite application hosts and ports
# 
# NOTE: The belinresidency.art subdomains used below resolve to 127.0.0.1 (localhost) and
# are provided by the WBS team along with the nginx-proxy in docker-compose.nginx.yml for ease
# of testing locally. In a public/production configuration these hosts would need to be replaced
# with the actual address/es on the public server/s.
#
# In testing you can access WBS apps locally with these addresses:
#
# http://wikibase.berlinresidency.art
# http://quickstatements.berlinresidency.art
# http://wdqs-frontend.berlinresidency.art
# 
WIKIBASE_HOST=wikibase.berlinresidency.art
QUICKSTATEMENTS_HOST=quickstatements.berlinresidency.art
WDQS_FRONTEND_HOST=wdqs-frontend.berlinresidency.art

# Generated by the `wbs` script
# Must be a unique string which is 64 characters long
# See https://www.mediawiki.org/wiki/Manual:$wgSecretKey
MW_SECRET_KEY=some-secret-key
