core
Vector
Wikibase
cache
git_cache
container_id
*.swp
Wikibase.tar.gz
*.docker.tar.gz

#temp 
Docker/DockerQueryService/service-*.tar.gz
Docker/DockerQueryServiceUI/*.tar.gz
test_scripts/log
diagrams/node_modules/
artifacts/*
