*.swp
.DS_Store
.direnv

local.env

deploy/log
deploy/.env
deploy/config/LocalSettings.php
deploy/config/LocalSettings.override.php
deploy/config/wikibase-php.ini

test/log
test/mwlog
test/suites/**/results/

