{
	"api": {
		"sparql": {
			"uri": "$WDQS_PUBLIC_URL"
		},
		"wikibase": {
			"uri": "$WIKIBASE_PUBLIC_URL"
		},
		"urlShortener": "tinyurl",
		"query-builder": {
			"server": "https://gerrit.wikimedia.org/g/wikidata/query-builder"
		}
	},
	"brand": {
		"title": "Wikibase Query Service",
		"logo": "logo.svg",
		"favicon": "favicon.ico",
		"copyrightUrl": "",
		"index": "./index.html"
	}
}
