version: '3'

services:
  publish_docker:
    build:
      context: ./
      dockerfile: Dockerfile
    environment:
     - WIKIBASE_TAR_PATH=/Wikibase.tar.gz
     - QUERYSERVICE_BACKEND_TAR_PATH=/service-$QUERYSERVICE_VERSION-dist.tar.gz
     - QUERYSERVICE_FRONTEND_TAR_PATH
     - WIKIBASE_DOCKER_PATH
     - QUERYSERVICE_BACKEND_DOCKER_PATH
     - QUERYSERVICE_FRONTEND_DOCKER_PATH
