# ##############################################################################
# Wikibase Suite - initial configuration
#
# See README.md for installation instructions and details on these values.
#
# Values in .env are initial setup values. After the first docker compose up,
# changing these values requires resetting the instance. See README.md for
# reset instructions.
#
# WARNING: Do not add comments on the same line as env vars: in some
# environments they will be included in the var!
# ##############################################################################

# Public hostname configuration. These two variables must be set for the install to proceed.
# Examples:
# WIKIBASE_PUBLIC_HOST=yourdomain.example
# WDQS_PUBLIC_HOST=query.yourdomain.example

WIKIBASE_PUBLIC_HOST=
WDQS_PUBLIC_HOST=

# MediaWiki (Wikibase) user. These three variables must be set for the install to proceed.
# Examples:
# MW_ADMIN_NAME=admin
# MW_ADMIN_EMAIL=admin@wikibase.example
# MW_ADMIN_PASS=change-this-password

MW_ADMIN_NAME=
MW_ADMIN_EMAIL=
MW_ADMIN_PASS=

# Database configuration
# DB_NAME and DB_USER can keep their defaults. 
# DB_PASS must be set.

DB_PASS=
DB_NAME=my_wiki
DB_USER=sqluser

# Callback
# Unlike the values above, METADATA_CALLBACK can be changed after initial setup.
METADATA_CALLBACK=true
