# ##############################################################################
# Wikibase Suite Deploy - initial configuration
#
# This file is a template for the .env file used by the Wikibase Suite Deploy
# Docker Compose setup.
#
# Values in .env are initial setup values. After the first docker compose up,
# do not change them except for METADATA_CALLBACK. Changing other values after
# first start requires resetting the instance. See README.md for reset
# instructions.
#
# WARNING: Do not add comments on the same line as env vars: in some
# environments they will be included in the var!
# ##############################################################################

# Public hostname configuration. These two variables must be set for the install to proceed.
# Examples:
# WIKIBASE_PUBLIC_HOST=yourdomain.example
# WDQS_PUBLIC_HOST=query.yourdomain.example

WIKIBASE_PUBLIC_HOST=
WDQS_PUBLIC_HOST=

# MediaWiki (Wikibase) user. These three variables must be set for the install to proceed.
# Examples:
# MW_ADMIN_NAME=admin
# MW_ADMIN_EMAIL=admin@wikibase.example
# MW_ADMIN_PASS=change-this-password

MW_ADMIN_NAME=
MW_ADMIN_EMAIL=
MW_ADMIN_PASS=

# Database configuration
# These values do not need to be changed for the instance to successfully be set up.

DB_NAME=my_wiki
DB_USER=sqluser
DB_PASS=change-this-password

# Callback
METADATA_CALLBACK=true
