WIKIBASE_URL="http://${WIKIBASE_HOST}"
QUICKSTATEMENTS_URL="http://${QUICKSTATEMENTS_HOST}"
WDQS_FRONTEND_URL="http://${WDQS_FRONTEND_HOST}"
WDQS_URL="http://wdqs:9999"
WDQS_PROXY_URL="http://wdqs-proxy"
MW_SCRIPT_PATH="/w"
MW_WG_ENABLE_UPLOADS=true

WIKIBASE_HOST=wikibase
WDQS_FRONTEND_HOST=wdqs-frontend
QUICKSTATEMENTS_HOST=quickstatements

# NOTE: Forcing Example run against current builds
WIKIBASE_SUITE_WIKIBASE_BUNDLE_IMAGE_URL=wikibase/wikibase-bundle
WIKIBASE_SUITE_WDQS_IMAGE_URL=wikibase/wdqs
WIKIBASE_SUITE_WDQS_FRONTEND_IMAGE_URL=wikibase/wdqs-frontend
WIKIBASE_SUITE_WDQS_PROXY_IMAGE_URL=wikibase/wdqs-proxy
WIKIBASE_SUITE_ELASTICSEARCH_IMAGE_URL=wikibase/elasticsearch
WIKIBASE_SUITE_QUICKSTATEMENTS_IMAGE_URL=wikibase/quickstatements
MARIADB_IMAGE_URL=mariadb:10.11
