WIKIBASE_URL="http://${WIKIBASE_HOST}"
QUICKSTATEMENTS_URL="http://${QUICKSTATEMENTS_HOST}"
WDQS_FRONTEND_URL="http://${WDQS_FRONTEND_HOST}"
WDQS_URL="http://wdqs.svc:9999"
WDQS_PROXY_URL="http://wdqs-proxy.svc"
MW_SCRIPT_PATH="/w"
MW_WG_ENABLE_UPLOADS=true

# NOTE: Forcing Example run against current builds
WIKIBASE_IMAGE_NAME=wikibase/wikibase
WDQS_IMAGE_NAME=wikibase/wdqs
WDQS_FRONTEND_IMAGE_NAME=wikibase/wdqs-frontend
ELASTICSEARCH_IMAGE_NAME=wikibase/elasticsearch
WIKIBASE_BUNDLE_IMAGE_NAME=wikibase/wikibase-bundle
QUICKSTATEMENTS_IMAGE_NAME=wikibase/quickstatements
WDQS_PROXY_IMAGE_NAME=wikibase/wdqs-proxy
MYSQL_IMAGE_NAME=mariadb:10.11
