WIKIBASE_URL="http://${WIKIBASE_HOST}"
QUICKSTATEMENTS_URL="http://${QUICKSTATEMENTS_HOST}"
WDQS_FRONTEND_URL="http://${WDQS_FRONTEND_HOST}"
WDQS_URL="http://${WDQS_HOST}:${WDQS_PORT}"
WDQS_PROXY_URL="http://${WDQS_PROXY_HOST}"
MW_SCRIPT_PATH="/w"
MW_WG_ENABLE_UPLOADS=true
