on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4

      - name: Lint
        run: ./lint.sh

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    strategy:
      fail-fast: false
      matrix:
        component:
          - wikibase
          - elasticsearch
          - wdqs
          - wdqs-frontend
          - wdqs-proxy
          - quickstatements

    steps:
      - uses: actions/checkout@v4

      - run: ./build/builder.sh build ${{ matrix.component }}

      # TODO re-enable as soon as we make use of it
      # - name: Scan Image
      #   uses: ./.github/actions/scan-image
      #   continue-on-error: true
      #   with:
      #     image_name: ${{ matrix.component }}

      - uses: ./.github/actions/push-ghcr
        with:
          docker_image: wikibase/${{ matrix.component }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

  test:
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 20

    strategy:
      fail-fast: false
      matrix:
        suite:
          - repo
          - fedprops
          - repo_client
          - quickstatements
          - pingback
          - confirm_edit
          - elasticsearch
          - deploy

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/pull-ghcr
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - run: ./test.sh ${{ matrix.suite }}

      - name: Reporter
        run: |
          cd .github/reporter
          npm install
          node report.js ${{ matrix.suite }}

      - name: Show logs
        run: |
          ls -lahr test/suites/${{ matrix.suite }}/results test/suites/${{ matrix.suite }}/results/*
          tail -n +1 test/suites/${{ matrix.suite }}/results/*.log
        continue-on-error: true

      - uses: actions/upload-artifact@v3
        with:
          name: TestResults
          path: test/suites/**/results

  test-success:
    # Post-test CI step - to check all tests succeeded
    # Github Branch Protection rules require this to pass to allow merging
    runs-on: ubuntu-latest
    needs:
      - lint
      - test
    steps:
      - run: true
