on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-environment
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - run: ./nx lint

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    strategy:
      fail-fast: false
      matrix:
        imageName:
          - wikibase
          - wikibase-lts
          - elasticsearch
          - wdqs
          - wdqs-frontend
          - wdqs-proxy
          - quickstatements

    steps:
      - uses: actions/checkout@v4
  
      - uses: ./.github/actions/setup-environment
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push ${{ matrix.imageName }}
        run: ./nx build ${{ matrix.imageName }} --push

  test:
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 20

    strategy:
      fail-fast: false
      matrix:
        suite:
          - repo
          - fedprops
          - repo_client
          - quickstatements
          - pingback
          - elasticsearch
          - deploy

    steps:
      - uses: actions/checkout@v4
  
      - uses: ./.github/actions/setup-environment
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: "Pull images from GHCR"
        uses: ./.github/actions/pull-ghcr

      - name: "Run ${{ matrix.suite }} test suite"
        run: ./nx test -- ${{ matrix.suite }}

      - name: Show logs
        run: |
          ls -lahr test/suites/${{ matrix.suite }}/results test/suites/${{ matrix.suite }}/results/*
          tail -n +1 test/suites/${{ matrix.suite }}/results/*.log
        continue-on-error: true

      - uses: actions/upload-artifact@v4
        with:
          name: dev-${{ github.run_id }}-${{ matrix.suite }}-test-results
          path: test/suites/**/results

  test-success:
    # Post-test CI step - to check all tests succeeded
    # Github Branch Protection rules require this to pass to allow merging
    runs-on: ubuntu-latest
    needs:
      - lint
      - test
    steps:
      - run: "true"
