name: Publish to Dockerhub Wikibase and Friends

on:
  workflow_dispatch:
    inputs:
      env_file:
        description: 'Environment file'
        required: true
        default: '.env' # only gets set on a "workflow_dispatch" run

env:
  env_file: ${{ github.event.inputs.env_file || '.env' }}

jobs:
  publish_docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: c-py/action-dotenv-to-setenv@v2
        with:
          env-file: ${{ env.env_file }}
      - name: run the publish script
        run: bash publish_docker.sh wikibase ${{ env.env_file }}