name: Test existing workflow run

on:
  workflow_dispatch:
    inputs:
      workflow_run_number:
        description: 'Workflow run number'
        required: true
        default: '503165443'

env:
  env_file: .env
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  WORKFLOW_RUN_NUMBER: ${{ github.event.inputs.workflow_run_number }}
jobs:
  test_wikibase:
    strategy:
      fail-fast: false
      matrix:
        databaseImageName: [ 'mariadb:10.9' ] # 'mysql:5.6' disabled https://phabricator.wikimedia.org/T296066
        suite: [
          repo,
          # Disable the fed props tests for now, as the feature has changed
          #fedprops,
          repo_client,
          quickstatements,
          pingback,
          confirm_edit,
          elasticsearch,

          base__repo,
          base__repo_client,
          base__pingback,
          # Disable the fed props tests for now, as the feature has changed
          #base__fedprops,
        ]
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
      - uses: c-py/action-dotenv-to-setenv@v4
        with:
          env-file: variables.env
      - uses: c-py/action-dotenv-to-setenv@v4
        with:
          env-file: ${{ env.env_file }}

      - name: Download artifacts ${{ github.event.inputs.workflow_run_number }}
        run: |
          bash publish/download.sh
          sudo cp artifacts/${{ github.event.inputs.workflow_run_number }}/BuildArtifacts/* artifacts/

      - name: Run Tests - ${{ matrix.suite }}
        env:
          DATABASE_IMAGE_NAME: ${{ matrix.databaseImageName }}
        run: make test SUITE=${{ matrix.suite }}

      - name: Report
        if: always()
        run: |
          cd test/reporter
          npm install
          SUITE=${{ matrix.suite }} node report.js

      - name: Archive docker test artifacts
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: TestArtifacts
          path: |
            test/log
