name: Test existing workflow run

on:
  workflow_dispatch:
    inputs:
      workflow_run_number:
        description: 'Workflow run number'
        required: true
        default: '503165443'

env:
  env_file: .env
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  WORKFLOW_RUN_NUMBER: ${{ github.event.inputs.workflow_run_number }}
jobs:
  test_wikibase:
    strategy:
      fail-fast: false
      matrix:
        suite: [ repo, fedprops, repo-client ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: c-py/action-dotenv-to-setenv@v2
        with:
          env-file: variables.env
      - uses: c-py/action-dotenv-to-setenv@v2
        with:
          env-file: ${{ env.env_file }}

      - name: Download artifacts ${{ github.event.inputs.workflow_run_number }}
        run: |
          bash publish/download.sh
          sudo cp artifacts/${{ github.event.inputs.workflow_run_number }}/BuildArtifacts/* artifacts/

      - name: Run Tests - ${{ matrix.suite }}
        run: make test SUITE=${{ matrix.suite }}

      - name: Report
        if: always()
        run: |
          cd test/reporter
          npm install
          SUITE=${{ matrix.suite }} node report.js

      - name: Archive docker test artifacts
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: TestArtifacts
          path: |
            test/log
